pipelines/ingestion/pl_copy_nyc_files_from_landing_till_stg.json
{
    "name": "pl_copy_nyc_files_from_landing_till_stg",
    "objectId": "f072a1b3-1620-4934-8525-ac46526467f1",
    "properties": {
        "activities": [
            {
                "name": "Get Metadata1",
                "type": "GetMetadata",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "fieldList": [
                        "childItems"
                    ],
                    "datasetSettings": {
                        "annotations": [],
                        "linkedService": {
                            "name": "project_lakehouse",
                            "properties": {
                                "annotations": [],
                                "type": "Lakehouse",
                                "typeProperties": {
                                    "workspaceId": "0a881e75-2d7d-4eaa-8f3a-6ac6f859bdcb",
                                    "artifactId": "029569b3-92dc-4b19-9b9c-efd0590d140c",
                                    "rootFolder": "Files"
                                }
                            }
                        },
                        "type": "Binary",
                        "typeProperties": {
                            "location": {
                                "type": "LakehouseLocation",
                                "folderPath": "nyctxi_yellow"
                            }
                        }
                    },
                    "storeSettings": {
                        "type": "LakehouseReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "BinaryReadSettings"
                    }
                }
            },
            {
                "name": "ForEach1",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get Metadata1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get Metadata1').output.childItems",
                        "type": "Expression"
                    },
                    "isSequential": true,
                    "activities": [
                        {
                            "name": "Lookup1",
                            "type": "Lookup",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "typeProperties": {
                                "source": {
                                    "type": "DataWarehouseSource",
                                    "sqlReaderQuery": "select distinct file_name from metadata.processing_log",
                                    "queryTimeout": "02:00:00",
                                    "partitionOption": "None"
                                },
                                "datasetSettings": {
                                    "annotations": [],
                                    "linkedService": {
                                        "name": "nyc_project_warehouse",
                                        "properties": {
                                            "annotations": [],
                                            "type": "DataWarehouse",
                                            "typeProperties": {
                                                "endpoint": "qpb3h5yaxm6udaxi47b4kiflhi-oupiqct5fwve5dz2nldpqwn5zm.datawarehouse.fabric.microsoft.com",
                                                "artifactId": "f6caea98-5d31-49f6-b160-9dd2eca22cc6",
                                                "workspaceId": "0a881e75-2d7d-4eaa-8f3a-6ac6f859bdcb"
                                            }
                                        }
                                    },
                                    "type": "DataWarehouseTable",
                                    "schema": [],
                                    "typeProperties": {
                                        "schema": "metadata",
                                        "table": "processing_log"
                                    }
                                }
                            }
                        },
                        {
                            "name": "If Condition1",
                            "type": "IfCondition",
                            "dependsOn": [
                                {
                                    "activity": "Lookup1",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "typeProperties": {
                                "expression": {
                                    "value": "@contains(activity('Lookup1').output,item().name)",
                                    "type": "Expression"
                                },
                                "ifFalseActivities": [
                                    {
                                        "name": "Invoke pipeline1",
                                        "type": "ExecutePipeline",
                                        "dependsOn": [],
                                        "policy": {
                                            "secureInput": false
                                        },
                                        "typeProperties": {
                                            "pipeline": {
                                                "referenceName": "c0cd44c7-5978-478e-abde-c1c8bf21408d",
                                                "type": "PipelineReference"
                                            },
                                            "waitOnCompletion": true,
                                            "parameters": {
                                                "file_name": {
                                                    "value": "@item().name",
                                                    "type": "Expression"
                                                }
                                            }
                                        }
                                    }
                                ],
                                "ifTrueActivities": []
                            }
                        }
                    ]
                }
            }
        ],
        "lastModifiedByObjectId": "fcc37a2b-5af7-4089-afb5-276a8b8e78c9",
        "lastPublishTime": "2025-05-25T10:52:23Z"
    }
}
